.display{
    width: 70vw;
    background-color: darkolivegreen;
    margin: auto;
    padding: 5px;
    color: grey;
}

.dice{
    width: 25vw;
    background-color: grey;
    margin-top: 10px;
    padding: 5px;
    color: white;
    display: inline-block;
}